.github/* linguist-vendored=true
res/* linguist-vendored=true
*.xcscheme linguist-vendored=true
*.txt linguist-vendored=true
*.png linguist-vendored=true
*.json linguist-vendored=true
*.json5 linguist-vendored=true
*.jar linguist-vendored=true
*.properties linguist-vendored=true
*.pbxproj linguist-vendored=true
*​.plist linguist-vendored=true
*.​xcworkspacedata linguist-vendored=true
*​.entitlements linguist-vendored=true
​*.vcproj linguist-vendored=true
*​.sln linguist-vendored=true
*.xml linguist-vendored=true
*.gradle linguist-vendored=true
*.yml linguist-vendored=true
​*.vcproj.filters linguist-vendored=true
*.md linguist-vendored=true  
*.svg linguist-vendored=true
*.webp linguist-vendored=true
*.toml linguist-vendored=true
*.storyboard linguist-vendored=true
hvigorfile.ts linguist-vendored=true
gradlew linguist-vendored=true
*.bat linguist-vendored=true
*.ets linguist-vendored=false
*.sh linguist-vendored=true
*.mk linguist-vendored=true
*.md linguist-vendored=true
*.pro linguist-vendored=true
