* text=auto eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

*.md linguist-documentation
*.txt linguist-documentation
*.xml linguist-documentation

*.pbxproj linguist-generated
*.xcscheme linguist-generated
*.xcworkspacedata linguist-generated
IDEWorkspaceChecks.plist linguist-generated

gradle-wrapper.jar linguist-generated
gradle-wrapper.properties linguist-generated
libs.versions.toml linguist-generated
gradle.properties linguist-generated
gradlew linguist-generated
gradlew.bat linguist-generated
proguard-rules.pro linguist-generated
build.gradle.kts linguist-generated

Sprite/**/* linguist-vendored
